@model UserListViewModel

<div asp-validation-summary="All"></div>

<table>
    <tr>
        <thead>Id</thead>
        <thead>User Name</thead>
        <thead>Email</thead>
    </tr>
    @if(Model.AppUsers.Count() == 0){
        <tr><td colspan="3">No user accounts</td></tr>
    }
    else{
        foreach(AppUser user in Model.AppUsers){
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <form asp-action="DeleteAsync" asp-route-id="@user.Id" method="Post">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    }
</table>

<a class="btn btn-primary" asp-action="Add">Add User</a>

<div page-model="@Model.PagingInfo" page-action="Index"></div>